.limpar{
    margin-left: 1rem;
}
.ngx-select__toggle{
    border-radius: 0;
    border: none;
    border-bottom: 1px solid transparent;
    background: rgba(0, 0, 0, 0.1) !important;
    transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
}