<div class="form-group">
  <label class="control-label">Nome</label>
  <input type="text" class="form-control" [(ngModel)]="nmunidade" placeholder="Nome da Unidade">

  <label class="control-label">Nome Reduzido</label>
  <input type="email" class="form-control" [(ngModel)]="nmreduzido" placeholder="Nome Reduzido">

  <label class="control-label">Descrição</label>
  <input type="text" class="form-control" [(ngModel)]="dsunidade" placeholder="Descrição">

  <label class="control-label">CNPJ</label>
  <input type="text" class="form-control" [(ngModel)]="cnpj" placeholder="CNPJ">

  <div class="row">
    <!-- <h3 class="col-md-12">Select a single city</h3> -->
    <div class="col-md-6">
      Estado
      <ngx-select [allowClear]="true" [items]="estadolist" [(ngModel)]="itemIdEstado" optionValueField="idEstado"
        (select)="selectedEstado($event)" optionTextField="nmEstado" placeholder="Nenhum estado selecionado">
      </ngx-select>
    </div>
    <div class="col-md-6">
      Cidade
      <ngx-select [allowClear]="true" [items]="cidadelist" optionValueField="idCidade" [(ngModel)]="itemIdCidade"
        optionTextField="nmCidade" placeholder="Nenhuma cidade selecionada">
      </ngx-select>
    </div>
  </div>

  <label class="control-label">Rua</label>
  <input type="text" class="form-control" [(ngModel)]="nmrua" placeholder="Nome da rua">

  <label class="control-label">Bairro</label>
  <input type="text" class="form-control" [(ngModel)]="bairro" placeholder="Nome do Bairro">

  <label class="control-label">Complemento</label>
  <input type="text" class="form-control" [(ngModel)]="dscomplemento" placeholder="Nome Complemento">


  <div class="col-md-6" style="margin-top: 10px">
    <button (click)="cadastra()" class="btn btn-primary">Cadastrar</button>
    <button (click)="clean()" class="btn btn-primary limpar">Limpar</button>
  </div>


</div>