<div class="card card-block login-card">
  <img [src]="fullImagePath" class="imgLogin">
  <h3 class="form-label">Farmacia Vida</h3>
  <span class="form-label">sign in to continue to Lines</span>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon addon-left"  id="username">
        <i class="fa fa-user fa-fw"></i>
      </span>
      <input class="form-control with-primary-addon" [(ngModel)]="login" placeholder="Usuário" type="text">
    </div>
    <div class="input-group">
      <span class="input-group-addon addon-left" id="password">
        <i class="fa fa-lock fa-fw"></i>
      </span>
      <input class="form-control with-primary-addon" [(ngModel)]="pass" placeholder="Senha" type="password">
    </div>
    <button (click)="signin()" class="btn btn-lg btn-primary">Login</button>
    <a routerLink="/cadastro" class="btn btn-link">Cadastrar. →</a>
  </div>
</div>