<div class="row">
    <div class="col-md-6">
        <label class="control-label"> Nome Cliente </label>
        <ngx-select [allowClear]="true" [items]="clienteList" optionValueField="idCliente" [(ngModel)]="idCliente" optionTextField="nmPessoa"
         placeholder="Digite o nome do cliente"></ngx-select>
    </div>
    <div class="col-md-6">
        <label class="control-label">CPF: </label>
        <ngx-select [allowClear]="true" [items]="clienteList" optionValueField="idCliente" [(ngModel)]="idCliente" optionTextField="nrCpf"
         placeholder="Digite o nome do cliente"></ngx-select>
        <!-- <input type="text" class="form-control form-control-lg"  placeholder="-----------" maxlength="11" >         -->
    </div>
</div>
<br>
<div class="row">
  <div class="col-md-12 animated fadeIn">
    <card>
      <div class="form-inline">
        <label class="control-label">Qtd: </label>
        <input type="text" class="form-control form-control-lg" placeholder="Quantidade" size="7">
        <label class="control-label">Produto: </label>
        <input type="text" class="form-control form-control-lg" placeholder="Descrição do produto" size="56">
        <label class="control-label">Valor Unitário: </label>
        <input type="text" class="form-control form-control-lg" size="10">
        <label class="control-label">Sub-Total: </label>
        <input type="text" class="form-control form-control-lg" size="10">
        <label class="control-label">% Desconto</label>
        <input type="text" class="form-control form-control-lg" size="3" style="margin:10px;">
        <button type="submit" class="btn btn-warning" style="margin:10px;" >Adicionar</button>
      </div>
    </card>
  </div>
</div>
<div class="row">
  <div class="col-md-8 animated fadeIn">
    <card>
      <table class="table">
        <!-- <th> <i class="fa fa-times" style="color:orangered"></i></th> -->
        <th scope="col">Quantidade</th>
        <th scope="col">Produto</th>
        <th scope="col">Sub-Total</th>
      </table>
    </card>
  </div>
  <div class="col-md-4 animated fadeIn">
      <card>
        <h2>Pedido nº 0000 </h2>
        <h3>Total : </h3>
        <button class="btn btn-primary"> CONFIRMA COMPRA</button>
        <button class="btn btn-danger"> CANCELA COMPRA</button>
      </card>
  </div>
  
</div>