<div class="form-group">
  <div class="row">
    <!-- <div class="col-md-4">
      <label class="control-label">Unidade/Estoque</label>
      <ngx-select [allowClear]="true" [items]="estoqueList" optionValueField="idEstoque" [(ngModel)]="idestoque"
        optionTextField="nome" placeholder="Ex: Estoque 1">
      </ngx-select>
    </div> -->
    <div class="col-md-4">
      <label class="control-label">Mercadoria</label>
      <ngx-select [allowClear]="true" [items]="mercadoriaList" optionValueField="idMercadoria" [(ngModel)]="idmercadoria"
        optionTextField="nmMercadoria" placeholder="Ex: Dipirona">
      </ngx-select>
    </div>
    <div class="col-md-4">
      <label class="control-label">Fornecedor</label>
      <ngx-select [allowClear]="true" [items]="fornecedorList" optionValueField="idFornecedor" [(ngModel)]="idfornecedor"
        optionTextField="nmPessoa" placeholder="Ex: Dipirona">
      </ngx-select>
    </div>
    <div class="col-md-4">
      <label class="control-label">Quantidade</label>
      <input type="number" class="form-control" [(ngModel)]="qtmovimentomercadoria" placeholder="Ex: 100">
    </div>
    <div class="col-md-4">
      <label class="control-label">Valor</label>
      <input type="number" class="form-control" [(ngModel)]="vlmercadoria" placeholder="Ex: 12.50">
    </div>
    <div class="col-md-4">
        <label class="control-label">Lote</label>
        <input type="text" class="form-control" [(ngModel)]="dslote" placeholder="Ex: Lote 12">
    </div>
    <div class="col-md-4">
        <label class="control-label">Validade</label>
        <input type="date" class="form-control" [(ngModel)]="dtvalidade" placeholder="dd/mm/yyyy">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" style="margin-top: 10px">
      <button (click)="cadastra()" class="btn btn-primary">Salvar</button>
      <button (click)="clean()" class="btn btn-primary limpar">Limpar</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <card cardTitle="Unidade/Estoque">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Código Mercadoria</th>
            <th>Nome</th>
            <th>Tipo movimentação</th>
            <th>Funcionario</th>
            <th>Validade</th>
            <th>Barras</th>
            <th>Fornecedor</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Lote</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableData | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
            <td>{{item.mercadoria.idMercadoria}}</td>
            <td>{{item.mercadoria.nmMercadoria}}</td>
            <td>{{item.movimentoestoque.tpMovimentoEstoque}}</td>
            <td>{{item.movimentoestoque.funcionario.pessoa.nmPessoa}}</td>
            <td>{{item.movimentoestoque.dtValidade}}</td>
            <td>{{item.mercadoria.codBarra}}</td>
            <td>{{item.fornecedor.pessoa.nmPessoa}}</td>
            <td>{{item.qtMovimentoMercadoria}}</td>
            <td>{{item.vlMovimentoMercadoria}}</td>
            <td>{{item.movimentoestoque.dsLote}}</td>
            <td>
              <button (click)="editar(item)" class="btn edit">Editar</button>
              <button (click)="excluir(item)" class="btn del">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
      <form class="pagination-wrapper">
        <div class="form-group pages">
          <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9"
            directionLinks="true" autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
        <div class="form-group options pages">
          <div class="input-group input-group-sm">
            <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
              <option>1</option>
              <option>5</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
              <option>200</option>
            </select>
            <span class="input-group-addon addon-right">Por Página</span>
          </div>
        </div>
      </form>
    </card>
  </div>
</div>